@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff) format("woff"),
    url(../fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url(../fonts/OpenSans-SemiBold.woff) format("woff"),
    url(../fonts/OpenSans-SemiBold.woff2) format("woff2"),
    url(../fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.woff) format("woff"),
    url(../fonts/OpenSans-Bold.woff2) format("woff2"),
    url(../fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  position: relative;
  font-family: "OpenSans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

h2 {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 130%;
  color: black;
  text-align: center;
}

img {
  max-width: 100%;
}

/*Стили блока "Шапка"*/
header {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #213053;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 50px;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  width: 75px;
  height: 75px;
  -webkit-animation-name: rotateLogo;
          animation-name: rotateLogo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes rotateLogo {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotateLogo {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.menu-list {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list-item {
  text-transform: uppercase;
}

.menu-list-item a {
  display: inline-block;
  max-width: 130px;
  padding: 3px;
  -o-text-overflow: clip;
     text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffff;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.menu-list-item a:hover {
  text-decoration: underline;
  color: rgb(231, 246, 21);
}

.menu-button {
  width: 35px;
  height: 35px;
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu-button:before,
.menu-button:after {
  content: "";
  width: 100%;
  height: 20%;

  border-radius: 5px;
  background-color: #ffffff;

  position: absolute;
  left: 0;
}

.menu-button:before {
  top: 0;
}

.menu-button:after {
  bottom: 0;
}

.menu-button-label {
  width: 100%;
  height: 20%;
  margin-top: -4px;

  border-radius: 5px;
  background-color: #ffffff;

  position: absolute;
  left: 0;
  top: 50%;
}

.menu-button,
.menu-button-label {
  display: none;
}

/*Стили блока "баннер"*/
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;

  /* background-image: url("./../img/Banner.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-color: #213053; */
}

.banner::after {
  content: "";
  background-color: #213053;
  z-index: 1;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0.8;
}

.banner-title {
  max-width: 540px;
  padding: 3px;
  -o-text-overflow: clip;
     text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 25px;
  z-index: 50;
  padding-top: 300px;
}

.banner-subtitle {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  z-index: 50;
  padding-bottom: 350px;
}

.block {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
/*Стили блока "Обо мне"*/

.card-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.card-about-img {
  width: 35%;
}

.card-about-img img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  border-radius: 50px;
}

.card-text {
  width: 65%;
  margin-left: 20px;
}

.card-text p {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6;
}

/*Стили блока "Технологии"*/
.skills {
  background-color: #213053;
}

.skills h2 {
  color: #ffffff;
  margin-bottom: 40px;
}

.ant-carousel {
  max-width: 100%;
  position: relative;
}

.ant-carousel-hider {
  overflow: hidden;
}

.ant-carousel-list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ant-carousel-element {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 250px;
  height: 150px;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 25px;
}

.ant-carousel-element img {
  width: 250px;
  text-align: center;
  height: 150px;
  background-size: contain;
  background-position: center;
}

/*Стили блока "Портфолио"*/
.portfolio-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.card {
  max-width: 540px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #213053;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 10px 30px rgba(126, 155, 189, 0.65);
          box-shadow: 0px 10px 30px rgba(126, 155, 189, 0.65);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.card:last-child,
.card:nth-last-child(2) {
  margin-bottom: 0;
}

.card:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.card-link {
  display: block;
  padding: 20px;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.card-link:hover {
  color: blue;
}

.card-image {
  width: 490px;
  height: 295px;
  margin-bottom: 20px;
}

.card-title {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 13px;
}

.card p {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
}

/*Стили блока "Подвал"*/
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #213053;
  color: white;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;

  max-width: 1200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer-content-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-contacts,
.footer-icons,
.footer-contact1 {
  max-width: 350px;
}

.footer-contacts h3 {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-contacts-subtitle {
  margin-bottom: 15px;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.footer-contact img {
  width: 30px;
  height: 30px;
}

.footer-contact div {
  margin-left: 15px;
}

.footer-contact a {
  color: #ffffff;
}
.footer-icons p {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
}

.footer-icons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.footer-icons-row img {
  width: 50px;
  height: 50px;
}
.footer-icons-row a {
  margin-right: 30px;
}

.contact-button {
  display: inline-block;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;

  border: 3px solid #ffffff;
  border-radius: 50px;

  color: #ffffff;
  line-height: 44px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact-button:hover {
  background-color: #ffffff;
  color: #213053;
}

.footer-contact1 p {
  margin: 15px 0;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}

.copyright-name {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 15px;
}
.copyright {
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 130%;
  font-weight: 600;
}

/*Project*/
.project {
  padding: 40px 0;
  text-align: center;
  color: #213053;
}

.project-header {
  font-family: "OpenSans-Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 40px;
}

.project-img {
  margin-bottom: 40px;
}

.project-description {
  margin-bottom: 50px;
}

.project-description p {
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 15px;
}

.project-description a {
  color: #213053;
}

.project-btn-back {
  display: inline-block;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;

  border: 3px solid #213053;
  border-radius: 50px;

  color: #213053;
  line-height: 54px;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.project-btn-back:hover {
  background-color: #213053;
  color: #ffffff;
}
